# MQTT client configuration
[MQTT Broker]
broker=192.168.1.5
topic=a291/rpi_test

#add a BME280 on I2C on pin 3 and 5
[BME280]
connection pin = 3,5
alias name = atic/bme280
humidity name = humidity
teperature name = temperature
pressure name = pressure

#add a DHT11 sensor to pin 4
#[DHT11]
#connection pin = 7
#alias name = og/bathroom/dht11
#humidity name = humidity
#teperature name = temperature
#humidity correction = -8
#teperature correction = 0

#add a DHT22 sensor
#[DHT22]
#connection pin = 36
#alias name = og/bedroom/dht22
#humidity name = humidity
#teperature name = temperature
#humidity correction = -8
#teperature correction = 0

#add a DS18B20 sensor to connection pin 37
#[DS18B20]
#connection pin = 37
#registration id = 41:01:20:33:b8:79:16:28
#alias name = ds18b20/1
#teperature name = temperature
#teperature correction = 0

#add a DS18B20 sensor to connection pin 37
#[DS18B20]
#connection pin = 37
#registration id = 99:01:20:33:cb:85:09:28
#alias name = ds18b20/2
#teperature name = temperature
#teperature correction = 0

#add a DS18B20 sensor to connection pin 37
#[DS18B20]
#connection pin = 37
#registration id = ad:01:20:33:86:2b:2b:28
#alias name = ds18b20/3
#teperature name = temperature
#teperature correction = 0


# add a digital input
#[GPIO in]
#connection pin = 33
#alias name = og/door
#io name = open


# add digital output
#[mqtt control]
#connection pin = 31
#alias name = og/control
#io name = switch_1
